.alert-cookies {
	background-color: #333333;
	border: medium none;
	padding: 12px 0px;
	line-height: 12px;
	border-radius: 0px;
	/*top: 0px;*/
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: none;
	margin-bottom: 0px;
	position:fixed;
	bottom: 0px;
	z-index:2;
}
.cookies-container {
	box-sizing: border-box;
    max-width: 1024px;
    padding: 4px 22px;
	margin: 0 auto;
	position: relative;
}
.alert-cookies a {
	color: #fff!important ;
	text-decoration: underline;
}
.alert-cookies a:visited {
	color: #fff!important ;
	text-decoration: underline;
}

.alert-cookies a.cookieClose {
	text-decoration: none;
}
a.cookieClose img {
	display: none;
}
.alert-cookies a.cookieClose {
	position: absolute;
	right: 12px;
	text-decoration: none;
	top: 0;
	font-size: 1.5em;
}
