
body {background:#fff; color:#333;}


#s4-statusbarcontainer{display:none;}
/*.ms-quicklaunchouter{display:none;}*/

.s4-recentchanges {
    display: none;
}

#s4-workspace{width: 100% !important;
-webkit-overflow-scrolling: touch;
}

#wrapper {
position:relative; 
margin:0px auto; 
background: #fff;
/*background: url("../images/bg04.png") repeat scroll 0 0 #f7f7f7;*/
color:#333
}

#wrapper_logo{width:1020px; margin:0 auto; padding:0;position: relative;}
#boxlogin{position:absolute; right:0px; top:0px;padding: 2px 8px 2px 0px;}

/*sharethis*/

#sharethis {
    width:1020px; margin:0 auto; padding:0;
	text-align:right;
}

#sharethis .stButton .chicklets {
    overflow: hidden;
    text-indent: -300px;
}

/* Header Area */
#header {margin:0 auto; padding:0px 0px 0px 0px;background: none repeat scroll 0 0 #fff;}
#logo {float:left; width:250px; margin-top:10px;}

/* Search */

#srcArea {
    position: absolute;
    right: 0;
    top: 70px;
    /*width: 193px;*/
	
}

#srcArea input{height: 30px;font-size: 1.2em !important;margin:0px!important; padding: 0px 0px 0px 4px!important; border: 1px solid #aab;}
#srcArea select{height: 30px;font-size: 1.2em !important;margin:0px!important; padding:0px!important;border: 1px solid #aab;}
#idSearchString{
   width: 170px;
}
.ms-sharepointsearchtext {
    color: #434F60;
    font-style: italic;
   width: 170px;
}

.ms-searchbox
{
   width: 170px;
   color: #434F60;
   font-style: italic;
}

.ms-searchimage {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}


/* Top Navigation */
#topNav {clear:both; background: none repeat scroll 0 0 #0057a4;border-bottom: 2px solid #005784; height: 40px; position: relative; font-size:1.3em;}
#topNav a, a:link, a:visited {text-decoration: none;}

.s4-tn ul {height: 40px !important; margin: 0 auto!important; padding: 0!important;}
.s4-tn li {display: inline !important;float: left!important;}
.s4-tn li.static > .menu-item {height: 40px; padding:12px 20px; color:#fff; border:0;  text-transform:uppercase; border-right: 1px solid #576979; box-sizing: border-box;}
.s4-tn li.static > .menu-item:hover {background-color: #8c99a4; color:#fff;}
.s4-tn li.static > .menu-item:visited {color:#fff!important;}
.s4-tn li.static.selected > .menu-item {background-color: #00a8e0; color:#000!important;}
.s4-tn li.static:last-child a {border-right: 0 none;}

.menu-horizontal {margin: 0 auto;}

/* Main Content Area */
#mainContent {margin:10px 0 0 0; padding:0;min-height: 600px;}
#mainContentLeft {width:180px; padding:0; margin:0; float:left;}
#mainContentRight {margin: 0 0 0 200px;}


/* Bread Crumb */
.breadCrmb {width:100%; margin:0 0 10px 0; padding:0; float:left; font-size:11px; text-align:left;}
.breadCrmb a{color:#446c84; text-decoration:none; font-size:11px; padding:3px 2px 2px 0;}
.breadCrmb a:hover{color:#000;}

/* Page Area */
#pageTitle {color:#0057a4; font-size:24px; font-weight:300; padding:10px 0; border-bottom:1px solid #0057a4;}
/*#pageContent .ms-rtestate-field img {max-width: 100%;}*/



/* Footer 
#footer {clear:both; background:#333; color:#ddd; margin:0; padding:10px;}*/
#footer  {margin: 0;font-size:1.2em; display: block;}
#footer ul {list-style: none outside none;float: left; width: 15%; margin:0;}
#footer a, #footer a:visited  {color:#ddd!important; }
#footer li {color:#ddd;line-height: 1.5em}
#footer a:hover {color:#ddd!important;}
#footer .footer-content{margin: 0 auto; padding: 0;width: 90%}

#footer {background: #14162a;
    border-top: 1px solid #14162a;
    padding: 45px 0;
	}

/***** Start SharePoint Fixes *****/
/**/
body {overflow: hidden;height: inherit;width: inherit;}

@media screen and (max-width: 650px) {
body {overflow: visible;height: inherit;width: inherit;}
body #s4-workspace {overflow: visible !important; height: auto !important;}
/*scroll body for mobile*/
}

/*
body.v4master {overflow: visible;height: inherit;width: inherit;}
body #s4-workspace {overflow: visible !important; height: auto !important;}
*/

body #s4-ribbonrow {z-index: 1000;min-height: 0 !important;height: auto !important;}
#s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id ^= "Ribbon."] {position: fixed !important;}
.ms-dlgOverlay {width: 100% !important;}
body #s4-bodyContainer {min-width: 0;}


.ms-cui-topBar2 {border-color: #333;}

#scrolltop {
    background: none repeat scroll 0 0 grey;
    border-radius: 4px;
    bottom: 10em;
    padding-top: 5px;
    position: fixed;
    right: 4em;
    text-align: center;
    width: 45px;
	display:none;
}

#scrolltop a, #scrolltop a:link, #scrolltop a:visited{
    color: #fff !important;
    font-size: 2.5em;
}

.navbar-header {
    display: none;
    }
/*	
#footer{
    display: none;
    }
	*/
	
.ms-dialog #footer  {
   display:none;
}

.read_all_link{
margin:5px 15px 5px 15px;
}

.read_all_link_event{
margin:-12px 0px 0px 0px;
}
	

@media screen and (max-width: 1200px) {	

	#footer .footer-content{width:100%}
	#footer ul {width: 20%; min-height:110px}
	
}

@media screen and (max-width: 1020px) {	

	#mainContent {width:100%; margin:0 0 0 0; padding:0 0 0 0;}
	#wrapper {width:100%; min-width:0; margin:0;}
	
	#wrapper_logo{width:100%; margin:0 auto; padding:0;}
	#sharethis {width:100%; margin:0 auto; padding:0;}
        /*
        #footer .footer-content{width:100%}
	#footer ul {width: 20%; min-height:110px}
*/
	
}
	
/* Mobile & Tablets */
@media screen and (max-width: 850px) {
	#topNav {height: auto;margin-top:5px;}
	#mainContent {width:100%;margin:5px 0 0 0; padding:0;}
	#mainContentLeft {width:100%; float:none; margin:0 0 10px 0; padding:0;}
	#mainContentRight {margin:0; padding: 5px;}
	#logo{margin: 10px auto 0;float:none;}
	.breadCrmb {display:none;}
	#footer ul {width: 40%; min-height:110px}
	
	
	
	/* Top Navigation */
	
	.s4-tn ul  {display: block;    height: auto;    width: 100%;}
	.s4-tn li.static  { float: left;position: relative;width: 50%;}
	.s4-tn li.static > .menu-item {border-bottom: 1px solid #576979;border-right: 1px solid #576979;}
	.s4-tn li.static > .menu-item {text-align: left;text-indent: 25px;width: 100%;}
	
	.navbar-header {
    display: none;
    }
	.myCompany_iframe iframe {width: 100% !important;}
	
	
	
#srcArea{position: static; margin: 0 auto;}
.ms-searchbox{width: 93%;}
	#srcArea {width: 95%;line-height:3.3em}
	#idSearchString{ width: 93%;}
	.ms-searchimage {margin-top: 3px;margin-left: 3px;}

        #srcArea input{width: 92%;}
        #srcArea select{width: 94%;}

	
}


/* Mobile & Tablets */
@media screen and (max-width: 650px) {

	/* Top Navigation */
	#topNav {border-bottom: 0 none;}
	.menu-horizontal ul.static {display: none;    height: auto;}
	.s4-tn li.static{display: block; float: none; width: 100%;}
	.s4-tn li.static.selected > .menu-item {display: block; float: none; width: 100%;}
	.s4-tn li.static > .menu-item  {border-bottom: 1px solid #576979; padding: 12px 0px}
	
	
    .navbar-toggle .icon-bar {border-radius: 1px;display: block;height: 2px;width: 22px;}
	.navbar-default .navbar-toggle {border-color: #ddd;}
	.navbar-toggle {background-color: transparent;background-image: none;border: 1px solid #fff;border-radius: 4px;margin-bottom: 8px;margin-left: 2px; margin-top: 4px;padding: 6px 6px;position: absolute; right: 10px}
	.navbar-header {height: 40px;}
	.icon-bar {background-color: #fff;}
	.navbar-toggle:hover {background-color: #8c99a4; color:#fff;}
	.navbar-toggle .icon-bar + .icon-bar {margin-top: 4px;}
	.navbar-header {display: block;}

	
	#scrolltop {
    bottom: 0.5%;
    position: fixed;
    right: 0.5%;
    width: 99%;
	}
	
	/*#footer ul {min-height:100px}*/
	#footer  {font-size:1.3em;}
	#footer ul {width: 80%; min-height:10px; padding:0 auto;}

}




/*grid*/

.cd-1 {width: 10%;}
.cd-2 {width: 20%;}
.cd-3 {width: 30%;}
.cd-4 {width: 40%;}
.cd-5 {width: 50%;}
.cd-6 {width: 60%;}
.cd-7 {width: 70%;}
.cd-8 {width: 80%;}
.cd-9 {width: 90%;}
.cd-10 {width: 100%;}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  box-sizing: border-box;
}

[class*="col-"] img{
 width:100%;
}

[class*="cd-"] {
  float: left;
  box-sizing: border-box;
}

[class*="cd-"] img{
 width:100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row{
	box-sizing: border-box;
}

.pl-1{
	padding-left:1%;
}
.pr-1{
	padding-right:1%;
}
.pl-2{
	padding-left:2%;
}
.pr-2{
	padding-right:2%;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  [class*="cd-"] {
    width: 100%;
  }
  
  [class*="pl-"] {
    padding-left:0;
  }
  
  [class*="pr-"] {
    padding-right:0;
  }
}